{% extends "layout2.html" %}

{% block title %}
    Home
{% endblock title %}

{% block content %}
	<div class='container' id='home-content' style='overflow:scroll;width:100%;'>
		<div class='col-md-12'>
			<table class='table table-hover table-bordered table-striped table-condense'>
			<thead>	
			<tr>
				<th scope='col'>Device</th>
				<th scope='col'>Connection Status</th>
				<th scope='col'>Recent Log</th>
				<th scope='col'>Scheduled Commands</th>			
			</tr>
			</thead>
			<tbody>
			{% if chip_data %}
			{% for chipd in chip_data %}
			<tr>
				<th>{{chipd.name}}</th>
				<th>{{chipd.connection_status}}</th>
				<th>{{chipd.recent_log.command}}, {{chipd.recent_log.status}}</th>
				<th>{{chipd.scheduled_commands}}</th>
			</tr>
			{% endfor %}
			{% endif %}
			</tbody>
			</table>
		</div>
		<div class='col-md-12'>
		{{ plot | safe }}
		</div>
	</div>
{% endblock content %}
